# byte compiled
__pycache__/
*.py[cod]

# Jupyter 
.ipynb_checkpoints

# Python venv
.venv

# data 
data_intermediate/

# app password
.streamlit/secrets.toml

# random files
blog.md
scratch.ipynb
scratch_streamlit_app.py